/*
 * Resource label definitions
 */

process {
    withLabel: 'low' {
        cpus   = 4
        memory = '8.GB'
        time   = '2.h'
    }
    withLabel: 'medium' {
        cpus   = 16
        memory = '32.GB'
        time   = '12.h'
    }
    withLabel: 'high' {
        cpus   = 32
        memory = '64.GB'
        time   = '24.h'
    }
}
