/*
 * Resource overrides for local testing on a small instance (4 CPU / 30 GB RAM).
 * Use with: nextflow run pipeline/main.nf -c pipeline/conf/test_local.config ...
 */

process {
    withLabel: 'low' {
        cpus   = 2
        memory = '4.GB'
        time   = '2.h'
    }
    withLabel: 'medium' {
        cpus   = 4
        memory = '16.GB'
        time   = '12.h'
    }
    withLabel: 'high' {
        cpus   = 4
        memory = '24.GB'
        time   = '24.h'
    }
}
